<div class="container ">
    <div class="columns">
        <div class="column is-10">
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <h2 class="title">Contents</h2>
                    </div>
                </div>

                <div class="level-right">
                    <div class="level-item">
                        <p class="subtitle">
                            <strong id="kb-debug-result_count">{{ widget.result_count }}</strong>
                            published
                        </p>
                    </div>
                </div>
            </nav>
            <table class="table kb-listing-table">
                <tbody>
                {% for entry in widget.entries %}
                    <tr>
                        <td>
                            <div class="kb-listing-title">
                                <a class="kb-debug-result"
                                   href="{{ '/' + entry.href + '.html' }}">{{ entry.title }}</a>
                            </div>
                            {% if entry.resource.props and entry.resource.props.synopsis %}
                                <p class="kb-listing-synopsis">
                                    {{ entry.resource.props.synopsis }}
                                </p>
                            {% endif %}
                        </td>
                        <td class="kb-listing-timeago">
                            {% if entry.resource and entry.resource.props.published %}
                                {{ entry.resource.props.published.strftime('%Y-%m-%d') }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
