[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Sphinx = "*"
livereload = "*"
pytest = "*"
pydantic = "*"

[dev-packages]
beautifulsoup4 = "*"
html5lib = "*"
coverage = "*"
vmprof = "*"
pytest-mock = "*"
pytest-cov = "*"
