[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Sphinx = "*"
livereload = "*"
pytest = "*"

[dev-packages]
beautifulsoup4 = "*"
html5lib = "*"

[packages.pykwalify]
extras = [ "ruamel",]
