@import "variables";

#kbt-header {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  border-bottom: 1px solid #e5e5e5;

  #kbt-logo {
    display: none;
    padding-right: 1rem;
    height: 40px;
    width: 69px;
  }

  #kbt-sitename {
    padding-right: 1rem;
  }

  .nav-item.active a.nav-link {
    border-bottom: solid blue 2px;
    color: blue;
  }
}