{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <div class="columns">
            <div class="column sb_body">
                <h1 class="title is-1">{{ resource.title }}</h1>
                <ul>
                    {% for parent in parents | reverse %}
                        <li>{{ parent.title|e }}</li>
                    {% endfor %}
                </ul>
                {{ body }}
                <section class="section">
                    <div class="columns">
                        <div class="column has-text-centered">
                            <div>Previous</div>
                            <div>
                                <a href="#">A possibly long title for
                                    webpack and even longer than it might</a>
                            </div>
                        </div>
                        <div class="column has-text-centered">
                            <div>Next</div>
                            <div>
                                <a href="#">Config</a>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section kb-listing">
                    <h1 class="title kb-section-heading">This Series</h1>
                    <p>
                    <div class="kb-listing-title">
                        <a href="#">This is a title that
                            might be
                            kind of long,
                            but we will never chop it off.</a>
                    </div>
                    <div class="kb-listing-synopsis">
                        The synopses that goes with it. The
                        synopses might
                        be
                        long.
                        The synopses that goes with it. The
                        synopses might
                        be
                        long.
                        The synopses that goes with it. The
                        synopses might
                        be
                        long.
                    </div>
                    </p>
                    <p>
                    <div class="kb-listing-title">
                        <a href="#">This is a title that
                            might be
                            kind of long,
                            but we will never chop it off.</a>
                    </div>
                    <div class="kb-listing-synopsis">
                        The synopses that goes with it. The
                        synopses might
                        be
                        long.
                        The synopses that goes with it. The
                        synopses might
                        be
                        long.
                        The synopses that goes with it. The
                        synopses might
                        be
                        long.
                    </div>
                    </p>

                </section>
            </div>

            <div class="column is-3">
                {% include "sidenav.html" %}
            </div>
        </div>
    </div>
{% endblock %}
{% block debug %}
    <div id="kb-debug-resource-template">
        Template: {{ resource.template(site) }}</div>
    <div id="kb-debug-resource-name">Resource: {{ resource.name }}</div>
    <div>Section:
        <span id="kb-debug-resource-section">{{ resource.section(site).name }}</span>
    </div>
    <div>Style:
        <span id="kb-debug-resource-style">{{ resource.style(site) }}</span>
    </div>
    <h2>Props</h2>
    <ul id="kb-debug-resource-props" style="margin-left: 2em">
        {% for k, v in resource.props.items() %}
            <li>
                <span id="kb-debug-resource-props-{{ k }}">{{ k }}</span>
                <span id="kb-debug-resource-props-{{ k }}-value">{{ v }}</span>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
