{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <div class="columns">
            <div class="column sb_body">
                <h1 class="title is-1">{{ resource.title }}</h1>
                {{ body }}
                <section class="section">
                    <div class="columns">
                        <div class="column has-text-centered">
                            <div>Previous</div>
                            <div>
                                <a href="{{ _('previous chapter') }}">
                                    {{ prev.title }}
                                </a>
                            </div>
                        </div>
                        <div class="column has-text-centered">
                            <div>Next</div>
                            <div>
                                <a href="{{ _('next chapter') }}">
                                    {{ next.title }}
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section kb-listing">
                    <h1 class="title kb-section-heading">This Series</h1>
                    {% for r in resource.series(site) %}
                        <p>
                            <div class="kb-listing-title">
                                <a href="{{ '/' + r.docname + '.html' }}">{{ r.title }}</a>
                            </div>
                            {% if r.synopsis %}
                                <div class="kb-listing-synopsis">
                                    {{ r.synopsis }}
                                </div>
                            {% endif %}
                        </p>
                    {% endfor %}
                </section>
            </div>

            <div class="column is-3">
                {% include "sidenav.html" %}
            </div>
        </div>
    </div>
{% endblock %}
{% block debug %}
    <h2>Props</h2>
    <div>in_nav:
        <span id="kb-debug-resource-props-in_nav">{{ resource.props.in_nav }}</span>
    </div>
    <div>in_nav:
        <span id="kb-debug-resource-props-weight">{{ resource.props.weight }}</span>
    </div>
{% endblock %}
