{% extends "layout.html" %}
{% block hero %}
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <p class="title">
                        Homepage
                    </p>
                    <p class="subtitle">
                        Multi-page, multi-section treatments of topics.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    {{ body }}
{% endblock %}
