{% extends "layout.html" %}
{% block hero %}
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <p class="title">
                        {{ resource.props.heading }}
                    </p>
                    <p class="subtitle">
                        {{ resource.props.subheading }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div id="kb-homepage-body">
        {{ body }}
    </div>
{% endblock %}
