{% extends "layout.html" %}
{% block title %}{{ resource.title }}{% endblock %}
{% block hero %}
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <p class="title">
                        Homepage
                    </p>
                    <p class="subtitle">
                        Multi-page, multi-section treatments of topics.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="container ">
        <div class="columns">
            <div class="column">
                <nav class="panel kb-portlet kb-portlet-primary">
                    <p class="panel-heading">
                        Blog Posts
                    </p>
                    <a class="panel-block">
                        I tried working on Bulma and truth is, I kind of
                        liked it along with Sass.
                    </a>
                    <a class="panel-block">
                        marksheets
                    </a>
                    <a class="panel-block">
                        minireset.css
                    </a>
                    <a class="panel-block">
                        jgthms.github.io
                    </a>
                    <a class="panel-block">
                        daniellowtw/infBoard
                    </a>
                    <a class="panel-block">
                        mojs
                    </a>
                    <div class="panel-block">
                        <button class="button is-small is-white is-fullwidth">
                            Prev
                        </button>
                        <button class="button is-small is-white is-fullwidth">
                            Next
                        </button>
                        <button class="button is-small is-white is-fullwidth">
                            All
                        </button>
                    </div>
                </nav>
            </div>
            <div class="column">
                <nav class="panel kb-portlet-info">
                    <p class="panel-heading">
                        Articles
                    </p>
                    <a class="panel-block">
                        bulma is the longest title I have ever seen
                    </a>
                    <a class="panel-block">
                        marksheet
                    </a>
                    <a class="panel-block">
                        minireset.css
                    </a>
                    <a class="panel-block">
                        jgthms.github.io
                    </a>
                    <a class="panel-block">
                        daniellowtw/infBoard
                    </a>
                    <a class="panel-block">
                        mojs
                    </a>
                    <div class="panel-block">
                        <button class="button is-small is-white is-fullwidth">
                            Prev
                        </button>
                        <button class="button is-small is-white is-fullwidth">
                            Next
                        </button>
                        <button class="button is-small is-white is-fullwidth">
                            All
                        </button>
                    </div>
                </nav>
            </div>
            <div class="column">
                <nav class="panel kb-portlet-warning">
                    <p class="panel-heading">
                        Tutorials
                    </p>
                    <a class="panel-block">
                        bulma is the longest title I have ever seen
                    </a>
                    <a class="panel-block">
                        marksheet
                    </a>
                    <a class="panel-block">
                        minireset.css
                    </a>
                    <a class="panel-block">
                        jgthms.github.io
                    </a>
                    <a class="panel-block">
                        daniellowtw/infBoard
                    </a>
                    <a class="panel-block">
                        mojs
                    </a>
                    <div class="panel-block">
                        <button class="button is-small is-white is-fullwidth">
                            Prev
                        </button>
                        <button class="button is-small is-white is-fullwidth">
                            Next
                        </button>
                        <button class="button is-small is-white is-fullwidth">
                            All
                        </button>
                    </div>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
