@import "../../../node_modules/bulma/sass/utilities/variables";

// All nav elements should get a grey border when hovered
.kb-header.hero .hero-head .nav-item {
  // To avoid text jumping on hover, put an invisible by default
  border-bottom: 2px solid transparent;
}

.kb-header.hero .hero-head .nav-item:hover {
  border-bottom: 2px solid $grey;
}

.kb-header.hero .hero-body {
  .title, .subtitle {
    color: $grey-light;
  }
}

// For each color scheme, make "active" the invert
.kb-header.hero.is-primary .hero-head .nav-item.is-active {
  border-bottom: 2px solid $primary-invert;
}

.kb-header.hero.is-info .hero-head .nav-item.is-active {
  border-bottom: 2px solid $info-invert;
}

.kb-header.hero.is-success .hero-head .nav-item.is-active {
  border-bottom: 2px solid $success-invert;
}

.kb-header.hero.is-warning .hero-head .nav-item.is-active {
  border-bottom: 2px solid $warning-invert;
}

.kb-header.hero.is-danger .hero-head .nav-item.is-active {
  border-bottom: 2px solid $danger-invert;
}

.kb-header.hero.is-light .hero-head .nav-item.is-active {
  border-bottom: 2px solid $light-invert;
}

.kb-header.hero.is-dark .hero-head .nav-item.is-active {
  border-bottom: 2px solid $dark-invert;
}

.kb-header.hero.is-info .hero-head .nav-item.is-active {
  border-bottom: 2px solid $info-invert;
}

.kb-header.header-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.89)), url('https://images.unsplash.com/1/iphone-4-closeup.jpg?dpr=1&auto=format&crop=middle&fit=crop&w=2000&h=700&q=80');
}

// Portlets
.kb-portlet {
  .panel-block {
    font-size: $size-small;
  }
}

.kb-listing-title a {
  color: $link;
}

.kb-listing-synopsis {
  font-size: $size-small;
  font-weight: lighter;
}

.kb-listing-timeago {
  font-size: $size-small;
  width: 8rem;
  text-align: right;
}

.kb-listing-table {
  tr {
    height: 5rem;

    td {
      border: none;
    }
  }
}

.panel-heading {
  margin-bottom: 0 !important;
}

.kb-portlet-primary {
  .panel-heading {
    background-color: $primary;
    color: $primary-invert;
  }
}

.kb-portlet-info {
  .panel-heading {
    background-color: $info;
    color: $info-invert;
  }
}

.kb-portlet-success {
  .panel-heading {
    background-color: $success;
    color: $success-invert;
  }
}

.kb-portlet-warning {
  .panel-heading {
    background-color: $warning;
    color: $warning-invert;
  }
}

.kb-portlet-danger {
  .panel-heading {
    background-color: $danger;
    color: $danger-invert;
  }
}

.kb-portlet-light {
  .panel-heading {
    background-color: $light;
    color: $light-invert;
  }
}

.kb-portlet-dark {
  .panel-heading {
    background-color: $dark;
    color: $dark-invert;
  }
}

.kb-portlet-info {
  .panel-heading {
    background-color: $info;
    color: $info-invert;
  }
}

.kb-section-heading {
  border-bottom: 1px solid gray;
}

.kb-listing p {
  //margin-bottom: 1rem;
}

.section .section {
  // Sphinx generates "section" class which matches Bulma which
  // adds a bunch of extra space.
  padding-top: 0;
}

.sb_body table.highlighttable {
  // Fix the Pygments/Bulma clash on <td> and <pre>
  width: auto;
  pre {
    padding: 6.5px;
  }
  td {
    padding: 0;
  }
}

.sb_sidenav {
  font-size: $size-small;
  ul {
    list-style: none;
    margin: 0;
  }
}

// Hide the first heading, where Sphinx inserts the page title
// into the generated body
.sb_body .section:first-of-type h1:first-of-type,
#kb-homepage-body {
  p:not(.panel-heading) {
    margin: 2rem 10%;
    font-size: $size-large;
  }
  h1:first-of-type {
    display: none;
  }
}

.kb-body h1:first-of-type {
  display: none;
}

.section .section {
  // Sphinx sticks in class="section" which triggers Bulma's extra padding
  padding: 0.75rem 0;
}