{%- extends "layout.html" %}
{% block hero %}
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <p class="title">
                        Articles
                    </p>
                    <p class="subtitle">
                        Single-document.
                    </p>
                </div>
                <div class="column is-one-third is-hidden-mobile">
                    <div class="card kb-featured">
                        <header class="card-header">
                            <p class="card-header-title">
                                Featured
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content is-small">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Phasellus nec iaculis
                                mauris.
                                <div>
                                    <a href="#">read...</a>
                                    <small>11:09 PM - 1 Jan 2016</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    {{ body }}
    <div class="container ">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <nav class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <h1 class="title">Articles</h1>
                        </div>
                    </div>

                    <div class="level-right">
                        <div class="level-item">
                            <p class="subtitle">
                                <strong>1</strong> published
                            </p>
                        </div>
                    </div>
                </nav>
                <table class="table kb-listing-table">
                    <tbody>
                    <tr>
                        <td>
                            <div class="kb-listing-title">
                                <a href="#">This is the first article</a>
                            </div>
                            <p class="kb-listing-synopsis">
                                The synopses that goes with it. The synopses
                                might
                                be
                                long.
                                The synopses that goes with it. The synopses
                                might
                                be
                                long.
                                The synopses that goes with it. The synopses
                                might
                                be
                                long.
                            </p>
                        </td>
                        <td class="kb-listing-timeago">an hour ago</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="kb-listing-title">
                                <a href="#">This is a title that
                                    might be
                                    kind of long,
                                    but we will never chop it off.</a>
                            </div>
                            <p class="kb-listing-synopsis">
                                The synopses that goes with it. The synopses
                                might
                                be
                                long.
                                The synopses that goes with it. The synopses
                                might
                                be
                                long.
                                The synopses that goes with it. The synopses
                                might
                                be
                                long.
                            </p>
                        </td>
                        <td class="kb-listing-timeago">an hour ago</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="kb-listing-title">
                                <a href="#">This is a title that
                                    might be
                                    kind of long,
                                    but we will never chop it off.</a>
                            </div>
                            <p class="kb-listing-synopsis">
                                The synopses that goes with it. The synopses
                                might
                                be
                                long.
                                The synopses that goes with it. The synopses
                                might
                                be
                                long.
                                The synopses that goes with it. The synopses
                                might
                                be
                                long.
                            </p>
                        </td>
                        <td class="kb-listing-timeago">an hour ago</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
