<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ title|striptags|e }}{{ titlesuffix }}</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{ pathto('_static/jquery.js', 1) }}"></script>
    <script src="{{ pathto('_static/underscore.js', 1) }}"></script>
    <script src="{{ pathto('_static/doctools.js', 1) }}"></script>
    <script src="{{ pathto('_static/websupport.js', 1) }}"></script>
    <script src="{{ pathto('_static/searchtools.js', 1) }}"></script>
    <script src="{{ pathto('_static/kaybee.bundle.js', 1) }}"></script>
    <script src="{{ pathto('_static/app.bundle.js', 1) }}"></script>
</head>
<body>
<section
        class="kb-header hero
            {{ resource.style(site) if (resource and resource.style) else '' }}">
    <div class="hero-head">
        {% include "navbar.html" %}
    </div>
    {% block hero %}{% endblock %}
</section>

<section class="section content">
    {% block body %}{% endblock %}
</section>

{% include "footer.html" %}
{% include "document_settings.html" %}
<script src="{{ pathto('_static/searchtools.js', 1) }}"></script>

</body>
</html>
