<nav class="nav">
    <div class="nav-left">
        <a class="nav-item" href="/">
            {% set logo_src = site_config.logo.img_file and
                    pathto('_static/' + site_config.logo.img_file, 1) or
                    site_config.logo.img_url %}
            <img src="{{ logo_src }}"
                 alt="{{ site_config.logo.alt }}"/>
        </a>
        {% for nav in site.navmenu %}
            <a class="nav-item is-hidden-mobile{{ ' is-active' if resource and resource.is_active_section(site, nav.name) }}"
               href="/{{ nav.navmenu_href }}">{{ nav.title }}
            </a>
        {% endfor %}
    </div>
    <span class="nav-toggle" data-target="navCollapseTarget">
          <span></span>
          <span></span>
          <span></span>
    </span>
    <div id="navCollapseTarget" class="nav-right nav-menu">
        <a class="nav-item is-hidden-tablet is-active">Home</a>
        {% for nav in site.navmenu %}
            <a class="nav-item is-hidden-tablet"
               href="{{ nav.href }}">{{ nav.title }}</a>
        {% endfor %}
        <a class="nav-item" id="kb-config-github"
           href="https://github.com/{{ site_config.social_media.github }}"
           target="_blank">
                      <span class="icon" style="color: #333;">
                        <i class="fa fa-github"></i>
                      </span>
        </a>

        <a class="nav-item" id="kb-config-twitter"
           href="https://twitter.com/{{ site_config.social_media.twitter }}"
           target="_blank">
                      <span class="icon" style="color: #55acee;">
                        <i class="fa fa-twitter"></i>
                      </span>
        </a>
    </div>
</nav>