<aside id="sidebarCollapseTarget" class="menu sb_sidenav">

    <div id="kb-sidenav-published-heading">
        {% if resource.is_published() %}
            <p class="menu-label">
                Published
            </p>
            <p>
                Published on
                {{ resource.props.published.strftime('%Y-%m-%d') }}
                at
                {{ resource.props.published.strftime('%H:%M') }}.
            </p>
        {% else %}
            <p class="menu-label">
                Draft
            </p>
            <p>This article does not have a published date in the past.</p>
        {% endif %}
    </div>

    <p class="menu-label">
        Breadcrumbs
    </p>
    <ul class="menu-list">

        {%- for parent in parents|reverse %}
            <li>
                <a href="{{ pathto(parent.name, 1) }}">
                    {% for arrow in range(loop.index) %}
                        <span class="kb-breadcrumb-separator">></span>
                    {% endfor %}
                    {{ parent.title }}
                </a>
            </li>
        {%- endfor %}

    </ul>
    <p class="menu-label">
        Previous
    </p>
    <ul class="menu-list">
        <a href="{{ prev.link|e }}"
           title="{{ _('previous chapter') }}">{{ prev.title }}</a>
    </ul>
    <p class="menu-label">
        Next
    </p>
    <ul class="menu-list">
        <a href="{{ next.link|e }}"
           title="{{ _('next chapter') }}">{{ next.title }}</a>
    </ul>

    {% set toc_entries = resource.extract_toc(toc) %}
    {% if toc_entries %}
        <p class="menu-label">
            Contents
        <ul class="menu-list">
            {% for entry in toc_entries %}
                <li>
                    <a href="{{ entry[0] }}">{{ entry[1] }}</a>
                </li>
            {% endfor %}
        </ul>
        </p>
    {% endif %}

    {% if resource.props.category %}
        <div id="kb-sidenav-categories-heading">
            <p class="menu-label">
                Categories
            </p>
            <p>
                {% for category in resource.references(site)['category'] %}
                    <a href="{{ pathto(category.name, 1) + '.html' }}">
                        <span class="tag">{{ category.label }}</span>
                    </a>
                {% endfor %}
            </p>
        </div>
    {% endif %}
    <p class="menu-label">
        Tags
    </p>
    <p>
        <a><span class="tag">xxhtml</span></a>
        <a><span class="tag">python</span></a>
        <a><span class="tag">arcade</span></a>
        <a><span class="tag">config</span></a>
    </p>
</aside>