<div class="row">
    <div class="columns">
        {% for result_set in result_sets %}
            <div class="column">
                <nav class="panel kb-portlet-info kb-portlet-{{ result_set.style }}">
                    <p class="panel-heading">
                        {{ result_set.label }}
                    </p>
                    {% for result in result_set.results %}
                        <a class="panel-block"
                           href="{{ '/' + result.name + '.html' }}">
                            {{ result.title }}
                        </a>
                    {% endfor %}
                    <div class="panel-block">
                        <button class="button is-small is-white is-fullwidth">
                            Prev
                        </button>
                        <button class="button is-small is-white is-fullwidth">
                            Next
                        </button>
                        <button class="button is-small is-white is-fullwidth">
                            All
                        </button>
                    </div>
                </nav>
            </div>
        {% endfor %}
    </div>
</div>
