{%- extends "layout.html" %}
{% block hero %}
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <p class="title">
                        {{ resource.title }}
                    </p>
                    {% if resource.props.subheading %}
                        <p class="subtitle">
                            {{ resource.props.subheading }}
                        </p>
                    {% endif %}
                </div>
                <div class="column is-one-third is-hidden-mobile">
                    <div class="card kb-featured">
                        <header class="card-header">
                            <p class="card-header-title">
                                Featured
                            </p>
                        </header>

                        <div class="card-content">
                            <div class="content is-small">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Phasellus nec iaculis
                                mauris.
                                <div>
                                    <a href="#">read...</a>
                                    <small>11:09 PM - 1 Jan 2016</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-9 kb-body">
                {{ body }}
            </div>
            <div class="column"></div>
        </div>
    </div>
{% endblock %}
