<div class="container ">
    <div class="columns">
        <div class="column is-10">
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <h1 class="title">Listing</h1>
                    </div>
                </div>

                <div class="level-right">
                    <div class="level-item">
                        <p class="subtitle">
                            <strong id="kb-debug-result_count">{{ result_count }}</strong>
                            published
                        </p>
                    </div>
                </div>
            </nav>
            <table class="table kb-listing-table">
                <tbody>
                {% for result in results %}
                    <tr>
                        <td>
                            <div class="kb-listing-title">
                                <a class="kb-debug-result"
                                   href="{{ '/' + result.name + '.html' }}">{{ result.title }}</a>
                            </div>
                            {% if result.props.synopsis %}
                                <p class="kb-listing-synopsis">
                                    {{ result.props.synopsis }}
                                </p>
                            {% endif %}
                        </td>
                        <td class="kb-listing-timeago">an hour ago</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
